body{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    height:100%;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    z-index: 0;
    overflow: hidden
}
.container .bar{
    position: absolute;
    width: 100%;
    height: 15%;
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.25), 0 1px 18px rgba(0, 0, 0, 0.22);
}
.container .bar .userinfo{
    position: absolute;
    width: 30px;
    height: 100%;
    top: 15px;
    left: 10px;
    z-index: 3;
}
.container .bar .userinfo:hover{
    cursor: pointer;
}
.bar .select_location{
    position: inherit;
    height: auto;
    width: 50px;
    left: 40%;
}
.bar #btn_extensions{
    position: inherit;
    margin-right: 10px;
    right: 0px;
}
#btn_extensions li{
    padding-right: 15px;
}
.bar #btn_cars{
    position: absolute;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 16px;
    bottom: 0px;
    height: 20px;
    /* line-height: 40px; */
    margin-left: 0px;
}
#btn_cars li{
    padding-right: 3%;
}

.container .wrapForDetail{
    position: absolute;
    width: 70%;
    height: 100%;
    left: -70%;
    background-color: rgb(248, 245, 245);
    z-index: 3;
}
.wrapForDetail #btn_close{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
}
.wrapForDetail #btn_close:hover{
    cursor: pointer;
}
.wrapForDetail .wrapForinfo{
    position: absolute;
    width: 80%;
    height: 60%;
    left: 0px;
    top: 20%;
    /* border: 1px solid black; */
    font-size: 18px;
}
.wrapForDetail #usr_portrait{
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
    margin-top: 30px;
    left: 30%;  
    overflow: hidden;
}
.wrapForDetail #usr_name{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    margin-top: 50%;
    left: 40%; 
}
.wrapForDetail #usr_portrait img{
    position: absolute;
    height: 100%;
    width: 100%;
}
ul{
    list-style-type: none;
}
ul li{
    float: left;
}
.wrapForDetail .wrapForinfo #icon{
    position:absolute;
    left: 10%;
    top: 50px;
    height: 100px;
    width: 40px;
    margin:0; 
    padding:10px; 
}
.wrapForDetail .wrapForinfo #icon li{
    list-style-type: none;
    float: left;
    padding-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #070707;
}
.wrapForDetail .wrapForinfo #btn_group{
    position:absolute;
    left: 26%;
    top: 50px;
    height: 100px;
    width: 50px;
    margin:0; 
    padding:10px;    
}
.wrapForinfo #btn_group li{
    list-style-type: none;
    padding-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #070707;
}
.wrapForinfo #btn_group li:hover{
    cursor: pointer;
}
.map-show{
    position: absolute;
    width: 100%;
    height: 85%;
    top: 15%;
    z-index: 1;
}
.wrapBottom{
    position: absolute;
    width: 95%;
    height: 150px;
    left: 2.5%;
    bottom: 10px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 -1px 0px rgba(201, 187, 187, 0.25), 0 1px 30px rgba(0, 0, 0, 0.22);
}
.wrapBottom .btn_group{
    position: inherit;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    background-color: inherit;
    font-size: 13px;
    top: 5%;
}
.wrapBottom #DrivingAgentforDaily{
    left: 15%;
}
.wrapBottom #DrivingAgentforTime{
    left: 40%
}
.wrapBottom #OwnerService{
    left: 65%;
}
.wrapBottom .ball{
    width:15px;
    height: 15px;
    position: inherit;
    border-radius: 50%;
}
.wrapBottom .ball1{
    background-color: rgb(72, 114, 5);
    bottom: 50%;
    left: 5%;
}
.wrapBottom .ball2{
    background-color: orange;
    bottom: 20%;
    left: 5%;
    z-index: 1;
}
.wrapBottom .line{
    position: inherit;
    width: 80%;
    height: 1px;
    top: 55%;
    left: 10%;
    background-color: #d3cdcd;
}
.wrapBottom input{
    width: 70%;
    position: inherit;
    top: 60%;
    height: 40px;
    left: 15%;
    font-size: 15px;
    border: 1px solid white;
    outline: 0;
}
.wrapBottom #CurrentLocation{
    top: 30%;
}