@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  background:url(../img/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(242, 57, 101, 0.2);
}

/* span {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
} */
/* span a {
  color: #f23965;
} */

.container {
  width: 300px;
  height: 500px;
  background: #000;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: hidden;
  background: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  padding-top: 60px;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.container.startup {
  animation: startup 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation: startup 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.container.shake {
  animation: shake 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation: shake 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.container:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: -moz-linear-gradient(top, #595d9a 0%, rgba(89, 93, 154, 0) 100%);
  background: -webkit-linear-gradient(top, #595d9a 0%, rgba(89, 93, 154, 0) 100%);
  background: linear-gradient(to bottom, #595d9a 0%, rgba(89, 93, 154, 0) 100%);
}
.container i.back {
  position: absolute;
  margin: auto;
  top: 15px;
  right: 10px;
  font-size: 32px;
  line-height: 24px;
  color: #fff;
  z-index: 10;
  opacity: 0;
}
.container i.back:hover {
  cursor: pointer;
}
.container i.back.show {
  opacity: 1;
}

h1, p {
  color: #fff;
  font-weight: 400;
}

.ball {
  width: 50px;
  height: 50px;
  background: #f23965;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}
.ball:before {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: #b90c35;
  opacity: 0;
  cursor: pointer;
}
.ball:hover {
  cursor: pointer;
}
.ball.active {
  width: 200px;
  height: 200px;
  bottom: -65px;
  right: -65px;
}
.ball.active:hover {
  cursor: default;
}
.ball.active:before {
  opacity: 1;
}
.ball.active svg {
  transform: rotate(45deg);
  cursor: pointer;
}
.ball.active .first {
  top: 20px;
  opacity: 1;
}
.ball.active .second {
  top: 40px;
  left: 40px;
  opacity: 1;
}
.ball.active .third {
  left: 20px;
  opacity: 1;
}
.ball svg {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}
.ball i {
  color: #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  margin: auto;
  transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
  opacity: 0;
}
.ball i.first {
  top: -40px;
  left: 0;
  right: 0;
  text-align: center;
}
.ball i.second {
  left: -25px;
  top: -25px;
}
.ball i.third {
  left: -40px;
  top: 0;
  bottom: 0;
}
.ball.expand {
  background: rgb(248, 248, 248);
  width: 200%;
  height: 200%;
  bottom: -25%;
  right: -50%;
}
/* expand the ball by click '+' and then set ball's opacity = 0   */
.ball.expand:before {
  opacity: 0;
}
.ball.expand > * {
  display: none;
}
.container .tomato{
  display: none;
  
}
.container .tomato .clock {
  background: url(http://joeweaver.me/codepenassets/freecodecamp/challenges/build-a-pomodoro-clock/bg.png) no-repeat center center;
  background-size: contain;
  position: absolute;
  left: -1px;
  top: -20px;
  width: 300px;
  height: 350px;
  z-index: 2;
}

.container .tomato .clock .timer{
  align-items: center;
  cursor: pointer;
  float: left;
  flex-direction: column;
  position: absolute;
  top:145px;
  left: 110px;
}
.container .tomato .clock .timer .title{
  color: #FF8B8A;
  font-size: 25px;
  line-height: 10px;
  margin: 3px 0 1px;
 
}
.container .tomato .clock .timer .countdown{
   display: flex;
   color: #FF8B8A;
   position: absolute;
   margin: 3px 0 1px;
   font-size: 25px;
   font-weight: 600;
   line-height: 40px;
    
}

.container .tomato .clock .timer .countdown #minute::after {
  content: ":";
}
audio {
  display: none;
}
#audio-selector {
  display: flex;
  left: 0;
  position: absolute;
  bottom: -12px;
  width: 100%;
  display: none;
}
#audio-selector .theme {
  background: linear-gradient(to bottom, rgba(255, 99, 127, 0.28) 0%, rgba(255, 99, 127, 0.28) 1%, rgba(255, 98, 143, 0) 84%, rgba(255, 98, 146, 0) 100%);
  color: #e46372;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47ff637f', endColorstr='#00ff6292', GradientType=0);
  flex: 1 1 25%;
  font: 20 calc(9px + 1vw) "Open Sans", sans-serif;
  margin: 0 2px 0 0;
  padding: 2vw 1vw 5vw;
  text-align: center;
  transition: all .43s;
  white-space: nowrap;
}
#audio-selector .theme:last-child {
  margin-right: 0;
}
#audio-selector .theme:hover, #audio-selector .theme.selected {
  background: linear-gradient(to bottom, rgba(255, 99, 127, 0.43) 0%, rgba(255, 99, 127, 0.43) 1%, rgba(255, 98, 143, 0) 84%, rgba(255, 98, 146, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6eff637f', endColorstr='#00ff6292', GradientType=0);
}
@media all and (min-width: 512px) {
  #audio-selector .theme {
    font-size: 15.33px;
    padding: 9px 5px 25px;
  }
}
@media all and (max-width: 300px) {
  #audio-selector {
    flex-wrap: wrap;
  }
  #audio-selector .theme {
    flex: 1 0 100%;
    font-size: 14px;
    padding: 7px;
  }
}
@keyframes startup {
  0% {
    transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes startup {
  0% {
    transform: translate(0, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes shake {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-4deg);
  }
  20% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
@-webkit-keyframes shake {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-4deg);
  }
  20% {
    transform: rotateZ(3deg);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
